#nav {
	margin-bottom: 70px; 
}
.navbar-nav, .navbar-collapse, #bs-example-navbar-collapse-1{
	background-color: rgba(0,0,0,0.1);
}

body {
	background: linear-gradient(to right,  #000000 0%,#321563 10%,#39093a 30%,#000000 50%); /* W3C */
	min-height: 100%;
}