<!-- Nav Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#hub"><img src="/img/splash-logo.jpg" style="height:100%;"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#hub"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li><a href="/#about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About UK2VIP</a></li>
        <li><a href="/#contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact UK2VIP</a></li>
        <li><a href="/#dayclubs"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Dayclubs</a></li>
        <li><a href="/#nightclubs"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Nightclubs</a></li>
        <li><a href="/#vip"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> VIP Services</a></li>
        <li><a href="/#settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
      </ul>
    </div>
  </div>
</nav>

