    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="jumbotron">
                    
                    <h1>About UK2VIP</h1>
                    <p>UK2VIP is a UK based company that specialises in providing guests from the UK with excellent levels of customer service within the Las Vegas, Miami and New York hospitality industry. We have existing relationships that span years in the cities we operate in, with the most prestigious and sought after venues. Utilising our services will translate into the ultimate VIP experience for your group.</p>
                    <p>Services offered</p>
                    <ul>
                        <li>Insight/Expertise</li>
                        <li>Access to the most sought after VIP accommodations for Nightclubs and Pool Parties within the cities that we operate in.</li>
                        <li>Premium seating at all our nightclubs, pool parties, restaurants, shows and concerts</li>
                        <li>Exclusive hotel rates and upgrades</li>
                        <li>Personal Concierge services</li>
                        <li>Group bookings/Event planning/Venue buyouts</li>
                    </ul>
                    <p><a class="btn btn-default btn-lg" id="user-reset">Reset</a></p>
                </div>
                
            </div>
        </div>
    </div>