    <div class="container">
        <div class="row">
            <div class="col-lg-12 hide" id="hub-welcome">
                <h2>UK2VIP - Exclusively yours</h2>                    
                <p class="lead" style="color:#eee; text-align:justify;">Welcome to the UK2VIP app. Here you can browse the nightclubs, dayclubs and excursions on offer in Las Vegas Nevada. Simply press the option to book at anytime and we'll start the magic that will make your visit the most memorable event ever!</p>
            </div>

            <div class="col-lg-12" id="hub-intro">
            	<!-- Nightclubs -->
            	<div class="panel panel-default hub-button" id="hub-link-nightclubs">
  					<div class="panel-body">
    					Nightclubs
  					</div>
				</div>

  				<!-- Dayclubs -->
  				<a href="#dayclubs">
            	<div class="panel panel-default hub-button" id="hub-link-dayclubs">
  					<div class="panel-body">
    					Dayclubs
  					</div>
				</div>
			</a>

  				<!-- VIP -->
            	<div class="panel panel-default hub-button" id="hub-link-dayclubs">
  					<div class="panel-body">
    					VIP Services
  					</div>
				</div>

  				<!-- Contact -->
            	<div class="panel panel-default hub-button" id="hub-link-contact">
  					<div class="panel-body">
    					Contact us
  					</div>
				</div>

  				<!-- Settings -->
            	<div class="panel panel-default hub-button" id="hub-link-settings">
  					<div class="panel-body">
    					Settings
  					</div>
				</div>

            </div>
	  	</div>
	</div>