<div class="container">
	<div class="row">
		<div class="col-lg-12" id="hero">
			<div class="row">
				<div class="col-xs-4" id='logo'>
				</div>

				<div class="col-xs-8" id="intro">
					<h4></h4>
					<p class="lead"></p>
				</div>
			
		</div>
	</div>
</div>
<p class="long"></p>
<p class="address"></p>
<script>
<!-- 
$( document ).ready(function() {

	$('h4').html(sessionStorage.nightclub_name);
	$('.lead').html(sessionStorage.nightclub_short);
	$('.long').html(sessionStorage.nightclub_long);
	$('address').html(sessionStorage.nightclub_address);
	$('#logo').html('<img src="/img/events/logo-' + sessionStorage.nightclub_id  + '.png" width="130%" >');
	$('#hero').css('background-image', 'url(img/events/main-bg-' + sessionStorage.nightclub_id + '.jpg)');
});
//-->
</script>

<style type="text/css">
	#hero {min-heighta: 350px;}
	#ldogo {width: auto;}
	#intro {margin-top: 7%;}

</style>